.weather_data {
    --radius: 10px;
    --dark-glass: #05000014;
    
    font-family: var(--font-normal);
    height: 60vh;
    margin-top: 32px;
    padding: 16px 1rem;
    background-color: #0000002d;
    backdrop-filter: blur(5px);
    color: white;
    border-radius: var(--radius);

    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr 0.5fr;
    grid-template-rows: 1fr 0.5fr 1fr;

    grid-template-areas: "temp temp temp weather_type"
                        "city_name city_name more more"
                        "now now more more";
}

.temp {
    grid-area: temp;
    /* background: olivedrab; */
    font-size: 4.5rem;
    line-height: 3.5rem;

    display: flex;
    align-items: end;
}
.weather_type {
    grid-area: weather_type;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    & div {
        background: var(--dark-glass);
        backdrop-filter: blur(10px);
        border-radius: var(--radius);

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & img {
            height: 56px;
            filter: invert(1);
        }
    }

    & .weather_type_logo {
        height: 100%;

        & p {
            font-size: 0.8rem;
        }
    }

    & .weather_type_text p {
        padding: 10px 0;
        font-size: 0.9rem;
    }
}
.now {
    grid-area: now;
    /* background: lightskyblue; */
    
    display: flex;
    flex-direction: column;
    align-items: start;

    & * {
        font-family: var(--font-light);
        font-weight: 300;
    }
    
    & >h3 {
        font-size: 2rem;
    }

    & div {
        display: flex;
        gap: 10px;

        & h3 {
            font-size: 1.3rem;
        }
    }
}
.city_name {
    grid-area: city_name;
    /* background: chartreuse; */
    font-size: 3rem;

    display: flex;
    align-items: end;
}
.more {
    grid-area: more;
    /* background: teal; */
    padding-top: 15px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 16px;

    & >div {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        background-color: #05000014;
        backdrop-filter: blur(10px);
        border-radius: var(--radius);

        /* Middle line */
        & span {
            height: 40%;
            width: 1px;
            background: white;
        }

        & p {
            font-size: 0.9rem;
            text-align: center;
        }

        & p:last-child{
            font-size: 1.5rem;
        }
    }
}
