.home_page {
    padding: 0 var(--padding-inline);
    transition: 300ms;
}

@media (max-width: 520px){
    .home_page {
        padding: 0 24px;
    }
}

.home_page .search_area {
    --blue-hard: #0c8896;
    --blue-soft: #a8fcff;
    padding-bottom: 32px;
    border-bottom: 2px solid #909090;
    color: white;

    display: flex;
    align-items: center;
    gap: 10px;

    & label {
        font-size: 1.2rem;
        font-family: var(--font-normal);
        font-weight: 400;
        transition: ease 300ms;
    }
    & label:hover {
        transform: scale(1.1);
    }

    & input {
        flex-grow: 1;
        font-family: var(--font-normal);
        padding: 0.6rem;
        padding-left: 14px;
        border: 1px solid transparent;
        border-radius: 0.3rem;
        background-color: #ffffff22;
        backdrop-filter: blur(10px);
        -webkit-text-fill-color: white;
        transition: ease 400ms;
    }
    & input:focus {
        outline: none;
        -webkit-text-fill-color: var(--blue-soft);
    }
    
    & button {
        border: none;
        border-radius: 0.3rem;
        padding: 0.6rem 1.2rem;
        background-color: var(--blue-hard);
        backdrop-filter: blur(10px);
        color: white;
        font-size: 1rem;
        font-family: var(--font-normal);
        cursor: pointer;
        transition: ease 300ms;
    }
    & button:hover {
        color: #ffea00;
        padding: 0.6rem 1.4rem;
    }
}