nav {
    padding: 2rem var(--padding-inline);
    color: white;
    transition: 300ms;

    display: grid;
    grid-template-columns: 15vw 1fr;
}

@media (max-width: 520px) {
    nav {
        padding: 1.5rem 24px;
    }
}

nav h2.nav_logo {
    font-size: 1.3rem;
    font-family: var(--font-medium);
    font-weight: 500;
}

nav .navigation_area {
    display: flex;
    justify-content: end;
    align-items: center;

    & button {
        font-size: 1.5rem;
        padding: 0 20px;
        border-radius: 5px;
        border: none;
        background-color: white;
        cursor: pointer;

        &:hover {
            background-color: whitesmoke;
        }
    }
}
